body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(0, 0%, 20%);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counter {
    font-size: 4em;
    font-weight: bold;
}

#add-btn {
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: hsla(300, 100%, 50%, 0.50);
}

#add-btn:hover {
    background-color: hsla(300, 100%, 50%, 0.40);;
}